<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://ricerobotics.onshape.com/documents/113d96fdef4adb1a3716524e/w/28f7dad7c74d67852509cca5/e/a5f92556bc33e188cf7c0d25 -->
<robot name="catbot">
    <!-- Link upper_link_1 -->
    <link name="upper_link_1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-09"/>
            <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
        </inertial>
        <!-- Part upper_link_1 -->
        <visual>
            <origin xyz="-0.107638 -1.77657e-05 0.247465" rpy="-3.14159 0.515536 1.87822e-15"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/upper_link_1.stl"/>
            </geometry>
            <material name="upper_link_1_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.107638 -1.77657e-05 0.247465" rpy="-3.14159 0.515536 1.87822e-15"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/upper_link_1.stl"/>
            </geometry>
        </collision>
        <!-- Part d_shaft_upper_motor -->
        <visual>
            <origin xyz="-0.0728365 0.0179822 0.227745" rpy="3.14159 1.05526 -3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/d_shaft_upper_motor.stl"/>
            </geometry>
            <material name="d_shaft_upper_motor_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0728365 0.0179822 0.227745" rpy="3.14159 1.05526 -3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/d_shaft_upper_motor.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Link upper_link_2 -->
    <link name="upper_link_2">
        <inertial>
            <origin xyz="-1.79635e-16 -0.0525 -0.0091" rpy="0 0 0"/>
            <mass value="0.0231725"/>
            <inertia ixx="6.48341e-05" ixy="-1.84851e-19" ixz="5.85538e-23" iyy="9.64919e-07" iyz="1.49939e-19" izz="6.41292e-05"/>
        </inertial>
        <!-- Part grainger_35jc77 -->
        <visual>
            <origin xyz="-2.77556e-17 0 -0.0091" rpy="4.02456e-16 -1.5786e-16 -1.60982e-15"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-2.77556e-17 0 -0.0091" rpy="4.02456e-16 -1.5786e-16 -1.60982e-15"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
        <!-- Part grainger_35jc77_2 -->
        <visual>
            <origin xyz="-3.33067e-16 -0.105 -0.0091" rpy="3.1225e-16 -1.19696e-16 -1.66533e-15"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_2_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-3.33067e-16 -0.105 -0.0091" rpy="3.1225e-16 -1.19696e-16 -1.66533e-15"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
        <!-- Part pins -->
        <visual>
            <origin xyz="-3.33067e-16 -0.105 0.0014" rpy="1.5708 3.1225e-16 -1.5708"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
            <material name="pins_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-3.33067e-16 -0.105 0.0014" rpy="1.5708 3.1225e-16 -1.5708"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
        </collision>
        <!-- Part upper_link_2 -->
        <visual>
            <origin xyz="-1.73472e-16 -0.0525 -0.00552876" rpy="1.5708 1.66533e-16 -1.5708"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/upper_link_2.stl"/>
            </geometry>
            <material name="upper_link_2_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-1.73472e-16 -0.0525 -0.00552876" rpy="1.5708 1.66533e-16 -1.5708"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/upper_link_2.stl"/>
            </geometry>
        </collision>
        <!-- Part pins_2 -->
        <visual>
            <origin xyz="-2.77556e-17 0 -0.0196" rpy="-1.5708 2.46519e-32 0"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
            <material name="pins_2_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-2.77556e-17 0 -0.0196" rpy="-1.5708 2.46519e-32 0"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Frame closing_passive5_1 (dummy link + fixed joint) -->
    <link name="closing_passive5_1">
        <origin xyz="0 0 0" rpy="0 -0 0"/>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-9"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>
    <joint name="closing_passive5_1_frame" type="fixed">
        <origin xyz="-3.33067e-16 -0.105 2.47008e-16" rpy="1.7087e-16 3.1225e-16 -1.5708"/>
        <parent link="upper_link_2"/>
        <child link="closing_passive5_1"/>
        <axis xyz="0 0 0"/>
    </joint>
    <!-- Joint from upper_link_1 to upper_link_2 -->
    <joint name="passive6" type="passive">
        <origin xyz="-0.142439 -0.000117766 0.267185" rpy="1.5708 -0.288133 4.01667e-16"/>
        <parent link="upper_link_1"/>
        <child link="upper_link_2"/>
        <axis xyz="0 0 1"/>
        <limit effort="10" velocity="10"/>
    </joint>
    <!-- Link part_1 -->
    <link name="part_1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <!-- Part part_1 -->
        <visual>
            <origin xyz="-0.111803 0.124615 -0.0267252" rpy="1.40118e-16 1.16942e-15 -1.05526"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/part_1.stl"/>
            </geometry>
            <material name="part_1_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.111803 0.124615 -0.0267252" rpy="1.40118e-16 1.16942e-15 -1.05526"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/part_1.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Link lower_to_upper_thigh_connector -->
    <link name="lower_to_upper_thigh_connector">
        <inertial>
            <origin xyz="-0.000385309 0.0233351 -0.019323" rpy="0 0 0"/>
            <mass value="0.0299421"/>
            <inertia ixx="2.83074e-05" ixy="4.25126e-07" ixz="-3.57895e-08" iyy="2.65725e-06" iyz="2.17189e-06" izz="2.59961e-05"/>
        </inertial>
        <!-- Part grainger_35jc77_3 -->
        <visual>
            <origin xyz="-0.000995748 0.060184 -0.0224252" rpy="3.14159 -5.69553e-16 -3.12684"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_3_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.000995748 0.060184 -0.0224252" rpy="3.14159 -5.69553e-16 -3.12684"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
        <!-- Part d_shaft_lower_motor -->
        <visual>
            <origin xyz="2.77556e-17 1.38778e-17 -0.0334109" rpy="-3.14159 4.93476e-16 5.55112e-17"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/d_shaft_lower_motor.stl"/>
            </geometry>
            <material name="d_shaft_lower_motor_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="2.77556e-17 1.38778e-17 -0.0334109" rpy="-3.14159 4.93476e-16 5.55112e-17"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/d_shaft_lower_motor.stl"/>
            </geometry>
        </collision>
        <!-- Part pins_3 -->
        <visual>
            <origin xyz="-0.000995748 0.060184 -0.0329252" rpy="-1.5708 8.32885e-16 -1.55604"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
            <material name="pins_3_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.000995748 0.060184 -0.0329252" rpy="-1.5708 8.32885e-16 -1.55604"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
        </collision>
        <!-- Part lower_to_upper_thigh_connector -->
        <visual>
            <origin xyz="-0.000553083 0.0301873 -0.0259964" rpy="-1.5708 8.19007e-16 -1.55604"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/lower_to_upper_thigh_connector.stl"/>
            </geometry>
            <material name="lower_to_upper_thigh_connector_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.000553083 0.0301873 -0.0259964" rpy="-1.5708 8.19007e-16 -1.55604"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/lower_to_upper_thigh_connector.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Link lower_thigh -->
    <link name="lower_thigh">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-09"/>
            <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
        </inertial>
        <!-- Part lower_thigh -->
        <visual>
            <origin xyz="0.0746359 -0.0841768 0.0001" rpy="-1.5708 -3.26486e-16 -0.845402"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/lower_thigh.stl"/>
            </geometry>
            <material name="lower_thigh_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0746359 -0.0841768 0.0001" rpy="-1.5708 -3.26486e-16 -0.845402"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/lower_thigh.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Frame closing_passive3_2 (dummy link + fixed joint) -->
    <link name="closing_passive3_2">
        <origin xyz="0 0 0" rpy="0 -0 0"/>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-9"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>
    <joint name="closing_passive3_2_frame" type="fixed">
        <origin xyz="0.149272 -0.168354 7.34682e-17" rpy="3.14159 3.26486e-16 2.29619"/>
        <parent link="lower_thigh"/>
        <child link="closing_passive3_2"/>
        <axis xyz="0 0 0"/>
    </joint>
    <!-- Joint from lower_to_upper_thigh_connector to lower_thigh -->
    <joint name="passive1" type="passive">
        <origin xyz="-0.000995748 0.060184 -0.0315252" rpy="-4.58531e-16 8.32885e-16 -1.55604"/>
        <parent link="lower_to_upper_thigh_connector"/>
        <child link="lower_thigh"/>
        <axis xyz="0 0 1"/>
        <limit effort="10" velocity="10"/>
    </joint>
    <!-- Link upper_thigh -->
    <link name="upper_thigh">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-09"/>
            <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
        </inertial>
        <!-- Part upper_thigh -->
        <visual>
            <origin xyz="0 6.93889e-17 -0.0261503" rpy="-1.5708 -7.72153e-17 0.739009"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/upper_thigh.stl"/>
            </geometry>
            <material name="upper_thigh_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 6.93889e-17 -0.0261503" rpy="-1.5708 -7.72153e-17 0.739009"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/upper_thigh.stl"/>
            </geometry>
        </collision>
        <!-- Part grainger_35jc77_4 -->
        <visual>
            <origin xyz="0 6.93889e-17 -0.0247928" rpy="-3.14159 -1.24053e-16 0.739009"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_4_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 6.93889e-17 -0.0247928" rpy="-3.14159 -1.24053e-16 0.739009"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
        <!-- Part grainger_35jc77_5 -->
        <visual>
            <origin xyz="0 6.93889e-17 -0.00950784" rpy="-3.14159 2.37548e-17 -0.831787"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_5_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 6.93889e-17 -0.00950784" rpy="-3.14159 2.37548e-17 -0.831787"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Frame closing_passive5_2 (dummy link + fixed joint) -->
    <link name="closing_passive5_2">
        <origin xyz="0 0 0" rpy="0 -0 0"/>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-9"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>
    <joint name="closing_passive5_2_frame" type="fixed">
        <origin xyz="-0.133045 -0.12124 -0.0262503" rpy="3.14159 -1.62533e-16 2.30981"/>
        <parent link="upper_thigh"/>
        <child link="closing_passive5_2"/>
        <axis xyz="0 0 0"/>
    </joint>
    <!-- Link shin -->
    <link name="shin">
        <inertial>
            <origin xyz="-0.03 2.88516e-17 -0.0091" rpy="0 0 0"/>
            <mass value="0.0231725"/>
            <inertia ixx="9.64919e-07" ixy="2.5304e-20" ixz="2.22597e-20" iyy="2.18202e-05" iyz="9.20517e-23" izz="2.11152e-05"/>
        </inertial>
        <!-- Part grainger_35jc77_6 -->
        <visual>
            <origin xyz="-0.06 6.245e-17 -0.0091" rpy="-3.1225e-16 7.97973e-17 3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_6_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.06 6.245e-17 -0.0091" rpy="-3.1225e-16 7.97973e-17 3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
        <!-- Part pins_4 -->
        <visual>
            <origin xyz="-0.06 6.245e-17 0.0014" rpy="1.5708 2.56739e-16 -1.5708"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
            <material name="pins_4_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.06 6.245e-17 0.0014" rpy="1.5708 2.56739e-16 -1.5708"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
        </collision>
        <!-- Part shin -->
        <visual>
            <origin xyz="-0.08 1.11022e-16 -0.0126712" rpy="-1.5708 1.21431e-16 3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/shin.stl"/>
            </geometry>
            <material name="shin_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.08 1.11022e-16 -0.0126712" rpy="-1.5708 1.21431e-16 3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/shin.stl"/>
            </geometry>
        </collision>
        <!-- Part pins_5 -->
        <visual>
            <origin xyz="0 -6.93889e-18 0.0014" rpy="1.5708 -0 0"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
            <material name="pins_5_material">
                <color rgba="0.615686 0.811765 0.929412 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -6.93889e-18 0.0014" rpy="1.5708 -0 0"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/pins.stl"/>
            </geometry>
        </collision>
        <!-- Part grainger_35jc77_7 -->
        <visual>
            <origin xyz="0 -6.93889e-18 -0.0091" rpy="-2.01228e-16 1.04083e-16 3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
            <material name="grainger_35jc77_7_material">
                <color rgba="0.203922 0.203922 0.203922 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -6.93889e-18 -0.0091" rpy="-2.01228e-16 1.04083e-16 3.14159"/>
            <geometry>
                <mesh filename="package://catbot_pybullet/meshes/grainger_35jc77.stl"/>
            </geometry>
        </collision>
    </link>
    <!-- Frame closing_passive3_1 (dummy link + fixed joint) -->
    <link name="closing_passive3_1">
        <origin xyz="0 0 0" rpy="0 -0 0"/>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-9"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>
    <joint name="closing_passive3_1_frame" type="fixed">
        <origin xyz="-0.06 6.245e-17 -7.32785e-17" rpy="-1.66533e-16 2.56739e-16 -1.5708"/>
        <parent link="shin"/>
        <child link="closing_passive3_1"/>
        <axis xyz="0 0 0"/>
    </joint>
    <!-- Joint from upper_thigh to shin -->
    <joint name="passive2" type="passive">
        <origin xyz="-0.166306 -0.15155 -0.0262503" rpy="3.14159 -4.52115e-17 -1.55708"/>
        <parent link="upper_thigh"/>
        <child link="shin"/>
        <axis xyz="0 0 1"/>
        <limit effort="10" velocity="10"/>
    </joint>
    <!-- Joint from lower_to_upper_thigh_connector to upper_thigh -->
    <joint name="passive4" type="passive">
        <origin xyz="2.77556e-17 1.38778e-17 -0.00527485" rpy="0 -1.47911e-31 5.55112e-17"/>
        <parent link="lower_to_upper_thigh_connector"/>
        <child link="upper_thigh"/>
        <axis xyz="0 0 1"/>
        <limit effort="10" velocity="10"/>
    </joint>
    <!-- Joint from part_1 to lower_to_upper_thigh_connector -->
    <joint name="motor2" type="passive">
        <origin xyz="-0.0638436 0.112669 -0.00172517" rpy="3.14159 -3.65185e-16 -3.11074"/>
        <parent link="part_1"/>
        <child link="lower_to_upper_thigh_connector"/>
        <axis xyz="0 0 1"/>
        <limit effort="50" velocity="50"/>
        <joint_properties friction="0.0"/>
    </joint>
    <!-- Joint from upper_link_1 to part_1 -->
    <joint name="motor1" type="passive">
        <origin xyz="-0.0728365 0.0296822 0.227745" rpy="-1.5708 1.05526 -3.14159"/>
        <parent link="upper_link_1"/>
        <child link="part_1"/>
        <axis xyz="0 0 1"/>
        <limit effort="50" velocity="50"/>
        <joint_properties friction="0.0"/>
    </joint>
</robot>
